<li>
    {{name}}

    <button class="change-devoure" data-id="{{id}}" data-newdevoure="{{devoure}}">
        {{#if devoure}}Time to eat!{{else}}Whoops{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>